html {font-size: 1.2em;}
body {
    max-width: 700px;
    margin: auto;
    background-color: black;
    color: white
  }
h1 {color: darkblue; background-color: BlanchedAlmond; 
  text-align: center;
}
h2 {
  color: yellow; background-color: #0e0e3f; 
  padding: 8px 0 8px;
  margin: 32px 0 0;
  border-bottom: 3px solid #224; 
  text-align: center;
}
h3 {color: skyblue;}
h4 {color: PaleTurquoise  }
a {text-decoration: cyan underline; color: cyan; line-height: 2em;}
a:hover {color: azure}
pre code {
  display:block;
  background: #222;
  padding: 16px;
  margin: 0 36px;
  white-space: pre-wrap;
}
code {color: #94e4ff}
td,th {
  border: 2px solid #444;
  background-color: #111;
  padding: 10px;
}
.back-to-top {
  display: block;
  position: sticky;
}

@media screen and (max-width:1024px) {
  body{background-color: green}
  .back-to-top {
    bottom: 0px;
    padding: 8px 16px 100vh 40px;
    text-align: center;
    background: linear-gradient(#0e0e3f, #000);
  }
}



@media screen and (max-width:768px) {
  body{background-color: red}
  .back-to-top {
    bottom: 16px;
    right: 30px;
    padding: 8px 16px 8px 16px;
    background: #0e0e3f;
  }
}
