body {
    max-width: 700px;
    margin: auto;
    background-color: black;
    color: white
  }
  h1, h2, h3, h4, h5, h6 {
    color: yellow
  }
  code {
    display:block;
    background: #222;
    padding: 16px;
    margin: 0 36px;
    white-space: pre-wrap;
  }
  td,th {
    border: 2px solid #444;
    background-color: #111;
    padding: 10px;
  }